body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    height: 600px;
    text-align: center;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/010/772/318/original/nabeel-najeeb-dicegif.gif?1526145052);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-2 {
    height: 400px;
    background-color: white;
    padding-top: 100px;
    margin-right: 170px;
    margin-left: 170px;
    margin-bottom: 50px;

}

.row {
    background-image: url(https://2.bp.blogspot.com/-0ETeV5l3juo/Wr6ZttZWxpI/AAAAAAAAPik/nVyHFVAEa7YLgBJQqEAGVYH92hhYUM4EgCKgBGAs/s1600/20180330_135914.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: auto;
    width: 100%;
}

.col-md-6 {
    position: relative;
    top: 80px;
    color: black;
}

.play {
    height: 200px;
    padding-top: 60px;
}

h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
}

h2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-display: bold;

}

h6 {
    position: relative;
    top: 80px;
}
.footer {
    height: 200px;
}